<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Datos de conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tu_base_de_datos</property>
        <property name="hibernate.connection.username">tu_usuario</property>
        <property name="hibernate.connection.password">tu_contraseña</property>

        <!-- Otras configuraciones -->
        
    </session-factory>
</hibernate-configuration>

